<body class="home">
<h1>UK Event Tracker</h1>
<%= link_to 'Listings', listings_index_path %>
<%= link_to 'New artist', new_artist_path %>
<a href="https://www.freepik.com/free-vector/techno-party_761404.htm">Designed by Freepik</a>
</body>
