<div class=centered>
  <h1>UK Event Tracker</h1>
  <p id="listings">
    <%= link_to 'Listings', events_index_path %>
  </p>
  <p id="uploads">
    <%= link_to 'List of uploads', uploads_path %>
  </p>
</div>
