<body class="home">
<div class="main-title">
  <h1>UK Event Tracker</h1>
</div>
<div class="links">
  <li><a id="listings"><%= link_to 'Listings', listings_index_path %></a></li>
  <li><a id="uploads"><%= link_to 'New artist', new_artist_path %></a></li>
</div>
<a id="source" href="https://www.freepik.com/free-vector/techno-party_761404.htm">Background image: Designed by Freepik</a>
</body>
