<body class="background">
<% title "Add a new artist" %>

<div class ="new-artist-form" id="new">
  <%= form_with scope: :artist, url: artists_path, local: true do |form| %>
    <p class="input-text">
      <%= form.text_field :artist_name, placeholder: "Artist name", :size => 60 %>
    </p>

    <p class="submit-button">
      <%= form.submit class: 'btn btn-default'%>
    </p>
  <% end %>
</div>


</body>
