<body class="background">
  <div class="title">
<h1>Add a new artist</h1>
</div>

<div class ="new-artist-form">
  <%= form_with scope: :artist, url: artists_path, local: true do |form| %>
    <p>
      <%= form.label :artist_name %><br>
      <%= form.text_field :artist_name %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>


</body>
