<body class="background">
<div class="title">
  <h1>Saved</h1>
</div>

<div class ="new-artist-form">
<p>
  <strong>Artist:</strong>
  <%= @artist.artist_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @artist.url %>
</p>
</div>


</body>
