<body class="background">
<% title "Saved" %>

<div class ="new-artist-form">
<p>
  <strong>Artist:</strong>
  <%= @artist.artist_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @artist.url %>
</p>
</div>


</body>
