<% Artist.all.each do |artist| %>
  <h1 ><%= artist.artist_name %></h1>
  <% events = Event.where("artist_id = #{artist.id}") %>
  <% events.each do |event| %>
  <p>  <%= event.event_title %></p>
  <p>  <%= event.location %></p>
  </br>
  <% end %>
</br>
<% end %>
<%= link_to 'New artist', new_artist_path %>
