<% Artist.all.each do |artist| %>
  <h1 ><%= artist.artist_name %></h1>
  </br>
  <% events = Event.where("artist_id = #{artist.id}") %>
  <% events.each do |event| %>
    <%= event.location %>
    </br>
  <% end %>
</br>
<% end %>
<%= link_to 'Url Upload', new_upload_path %>
