

.home-nav {
  float: left;
  width: 150px;
}

.listings-nav {
  float: left;
  width: 350px;

}

.add-artist-nav {
  float: left;
  width: 250px;
}
.edit-artists-nav{
  float: left;
  width: 350px;
}
