<p>
  <strong>Artist:</strong>
  <%= @artist.artist_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @artist.url %>
</p>

<%= link_to 'Listings', listings_index_path %>
<%= link_to 'List of uploads', uploads_path %>
